In [2]:
!pip install anonymizedf

Collecting anonymizedf
  Downloading anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Requirement already satisfied: faker in c:\users\david\appdata\local\programs\python\python39\lib\site-packages (from anonymizedf) (19.13.0)
Requirement already satisfied: pandas in c:\users\david\appdata\local\programs\python\python39\lib\site-packages (from anonymizedf) (2.1.2)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\david\appdata\roaming\python\python39\site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4; python_version < "3.11" in c:\users\david\appdata\local\programs\python\python39\lib\site-packages (from pandas->anonymizedf) (1.25.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\david\appdata\local\programs\python\python39\lib\site-packages (from pandas->anonymizedf) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\david\appdata\local\programs\python\python39\lib\site-packages (from pandas->anonymizedf) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\david\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Installing collected packages: anonymizedf
Successfully installed anonymizedf-1.0.1

WARNING: You are using pip version 20.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\david\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from anonymizedf.anonymizedf import anonymize
# Importar la data
df = pd.read_csv("https://query.data.world/s/shcktxndtu3ojonm46tb5udlz7sp3e")
df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5
...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5

In [4]:
# Preparar la data a ser anonimizada
an = anonymize(df)
an

# Forma 1: Modificacion uno a uno

In [5]:
an.fake_names("Customer Name")
an.fake_ids("Customer ID")
an.fake_whole_numbers("Loyalty Reward Points")
an.fake_categories("Segment")
an.fake_dates("Date")
an.fake_decimal_numbers("Fraction")

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Roy Martin-Ford,XNEK96923874929841,574,Segment 1,1987-03-13,44.60
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Ms Maureen Miller,KIOE47909522860424,177,Segment 1,1985-01-31,14.45
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Jessica Thomas-O'Donnell,GNFX16148385890190,726,Segment 1,1978-06-19,46.11
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Shannon Cooper-Ali,QECN64073136700890,698,Segment 1,2022-04-11,48.25
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Samantha Smith,IJYX98917138309784,455,Segment 1,1989-12-04,23.24
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Mr Gavin Jones,JWPU57141630476105,19,Segment 1,2010-03-03,49.44
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Lorraine Holmes,XALM74327715652192,455,Segment 3,2002-02-14,23.24
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Jacob Lyons,WTOD94687325135120,766,Segment 3,1991-02-16,36.07
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Joseph Adams,LBHX11192979932689,789,Segment 1,2008-02-10,14.16
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Mr Terry Peacock,IROI97387288947982,870,Segment 1,1974-01-08,13.17

In [6]:
df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Roy Martin-Ford,XNEK96923874929841,574,Segment 1,1987-03-13,44.60
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Ms Maureen Miller,KIOE47909522860424,177,Segment 1,1985-01-31,14.45
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Jessica Thomas-O'Donnell,GNFX16148385890190,726,Segment 1,1978-06-19,46.11
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Shannon Cooper-Ali,QECN64073136700890,698,Segment 1,2022-04-11,48.25
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Samantha Smith,IJYX98917138309784,455,Segment 1,1989-12-04,23.24
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Mr Gavin Jones,JWPU57141630476105,19,Segment 1,2010-03-03,49.44
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Lorraine Holmes,XALM74327715652192,455,Segment 3,2002-02-14,23.24
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Jacob Lyons,WTOD94687325135120,766,Segment 3,1991-02-16,36.07
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Joseph Adams,LBHX11192979932689,789,Segment 1,2008-02-10,14.16
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Mr Terry Peacock,IROI97387288947982,870,Segment 1,1974-01-08,13.17

# Forma 2: Cadenas

In [7]:
fake_df = (
    an
    .fake_names("Customer Name", chaining=True)
    .fake_ids("Customer ID", chaining=True)
    .fake_whole_numbers("Loyalty Reward Points", chaining=True)
    .fake_categories("Segment", chaining=True)
    .fake_dates("Date", chaining=True)
    .fake_decimal_numbers("Fraction", chaining=True)
    .show_data_frame()
)
fake_df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Dr Callum Johnson,BXOT32983454558253,480,Segment 1,1985-02-09,70.49
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Stanley Watson-Smith,ORTR75402802152160,170,Segment 1,2013-11-19,56.98
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Shirley Quinn,GWUT95814482389995,849,Segment 1,1999-11-20,18.21
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Sam Ross,WQHJ61974003495482,886,Segment 1,2014-11-19,44.62
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Amy Walker-Pearson,ITSH57128069995466,394,Segment 1,1991-07-07,79.40
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Dr Clive Smith,NZTN28448636403162,418,Segment 1,2017-09-24,19.18
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Ms Helen Sharp,LUZE60271371067664,394,Segment 3,1999-02-22,79.40
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Pauline Taylor-Robinson,LDWL73553487449911,92,Segment 3,1975-04-02,53.72
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Clive Quinn,VWKO73032515387318,404,Segment 1,1974-08-21,69.92
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Marilyn Jones,XWOA18796893787307,105,Segment 1,2004-05-24,97.63

# Forma 3: Asignacion multiple

In [8]:
fake_df = an.fake_names("Customer Name")
fake_df = an.fake_ids("Customer ID")
fake_df = an.fake_whole_numbers("Loyalty Reward Points")
fake_df = an.fake_categories("Segment")
fake_df = an.fake_dates("Date")
fake_df = an.fake_decimal_numbers("Fraction")
fake_df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Kirsty Ward-Hill,QCXX67659682705958,850,Segment 1,2005-04-14,93.49
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Miss Joanne Rahman,TXOK39068370480790,925,Segment 1,1975-03-05,30.30
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Louis Morgan,NXST57780491276192,987,Segment 1,1983-12-31,88.56
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Dr Alan Allen,CNMN52522896074261,772,Segment 1,2019-07-20,66.49
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Dr Joanne Taylor,BOPD85394255027713,62,Segment 1,1976-07-28,34.11
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Susan Austin,SRQZ79612504936601,78,Segment 1,1971-01-03,95.59
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Thomas Mitchell,XBNQ45985358189391,62,Segment 3,1980-03-22,34.11
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Brenda Smith,PGYS64942582618462,581,Segment 3,2000-07-26,8.06
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Miss Clare Webster,WPRE66150880992860,145,Segment 1,1986-07-07,29.95
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Dr Graeme Wright,OKWM92072656588110,130,Segment 1,1988-06-06,66.89